@CHARSET "ISO-8859-1";
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype'),
         url('../fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	padding:0px;
	margin:0px;
	font-family:robotoregular;
    color: #222;
    font-size: 14px;
	background: none repeat scroll 0 0 #f4f4f4;
}
header{
    background: none repeat scroll 0 0 white;
}
.conteneur-menu{
	float:right;
}
nav{
	
}
nav ul{
	list-style-type: none;
    height: 43px;
    margin: 0;
    padding: 0; 
}
nav ul li{
	float:left;
}
nav ul li a{
    display: block;
    width: 43px;
}
.menu-carte{
	background:url("../images/picto-carte.png");
	width:43px;
	height:43px;
	opacity:0.6;
}
.menu-inscription{
	background:url("../images/picto-inscription.png");
	width:43px;
	height:43px;
	opacity:0.6;
}
.menu-profil{
	background:url("../images/picto-profil.png");
	width:43px;
	height:43px;
	opacity:0.6;	
}
.menu-carte:hover{
	opacity:1;
}
.menu-inscription:hover{
	opacity:1;
}
.menu-profil:hover{
	opacity:1;
}
section{
    background: none repeat scroll 0 0 #f4f4f4;
    color: #222;
    font-size: 14px;
}
.lien-inscription{
	padding:20px;
}


.conteneur::after, .conteneur::before {
    content: "";
    display: table;
    line-height: 0;
}
.conteneur::after {
    clear: both;
}
.conteneur::after, .conteneur::before {
    content: "";
    display: table;
    line-height: 0;
}
section, .conteneur {
    width: 320px;
}
section, .conteneur {
    margin: 0 auto;
}
.blabla-vert{
	color:#6CB42F;
}
.blabla-bleu{
	color:#0083BA;
}
.blabla-rouge{
	color:#C83434;
}
h1{
    display: inline-block;
    font-family: robotoregular;
    font-size: 18px;
    height: 43px;
    line-height: 40px;
    margin: 0 0 0 5px;
    width: 160px;
    float:left;
}
h2{
	font-family:robotoregular;
	color: #0ca9fa;
	text-align:center;
}
section p{
	text-align: justify;
	font-family:Robotoregular;
}
a{
    color: #0ca9fa;
}
form{
	width:280px;
	margin:0 auto;
}
input[type="text"], input[type="tel"], input[type="email"], input[type="password"],input[type="number"], select, textarea {
    background: none repeat scroll 0 0 white;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: none;
    color: #222;
    display: block;
    font-size: 16px;
    font-weight: normal;
    height: 50px;
    line-height: normal;
    margin: 0 auto;
    padding-left: 15px;
    width: 260px;
    margin: 15px 0;
}
 input[type="button"], a.button, input[type="submit"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #0ca9fa;
    border-color: -moz-use-text-color -moz-use-text-color #048acf;
    border-image: none;
    border-radius: 3px;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    width:100%;
    padding: 6px;
    text-align: center;
    text-decoration: none;
}
input[type="button"]:hover, a.button:hover, input[type="submit"]:hover{
 	background-color:#0A88CC;
	cursor:pointer;
}
/* page carte */
 #container #map{width:700px;height:500px;margin:auto;}
 #container #panel{width:700px;margin:auto;}
 #container #destinationForm{margin:0px 0px 20px 0px;padding:10px 20px;}
 #container #destinationForm input[type=text]{border:solid 1px #C0C0C0;}
 .to::before{
    border-color: #c93634 !important;
}
.from::before, .to::before{
    top: 14px;
}
.from::before, .to::before {
    background: none repeat scroll 0 0 #fff;
    border: 6px solid #68be57;
    border-radius: 12px;
    content: "";
    display: inline-block;
    height: 2px;
    left: 10px;
    padding: 4px;
    position: absolute;
    top: 17px;
    vertical-align: middle;
    width: 2px;
    z-index: 1;
}
.from, .to{
    position: relative;
}
.from input[type="text"], .to input[type="text"]{
	padding-left:38px;
	width:240px;
}
 @media (max-width:720px){
 	#container #map,#container #panel{width:95%;}
 }